In [5]:
from time import time
import pandas as pd
import re
import numpy as np
from wordcloud import WordCloud
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import Perceptron, LogisticRegression
from sklearn.naive_bayes import BernoulliNB, MultinomialNB
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
from ast import literal_eval

In [6]:
#globals

In [7]:
#read csv into pandas
df = pd.read_csv("glassdoorclean.csv")

In [8]:
def initial_clean():
    del df['Listing ID']
    del df['Listing State']
    del df['HQ State']
    del df['Company']
    df.dropna()

In [9]:
def get_seniority():
    seniorityArr = ['principal', 'manager', 'junior', 'jr', 'jr.', 'lead', 'snr', 'senior', 'sr', 'sr.', 'director', 'associate', 'i', 'ii', 'intern', 'iii', 'iv', '1', '2', '3', '4', 'grad']
    seniority = {
        'manager': ['manager'],
        'junior' : ['junior', 'jr'],
        'principal' : ['principal'],
        'director': ['director'],
        'lead': ['lead'],
        'senior' : ['senior', 'sr', 'snr'],
        'intern' : ['intern'],
        'associate': ['associate'],
        'one' : ['i', '1', ],
        'two' : ['ii', '2'],
        'three' : ['iii', '3'],
        'four' : ['iv', '4'],
        'grad' : ['grad', 'graduate'],
    }
    
    position = []
    for title in df['Job Title']:
        t = re.split(r'\W+', title)
        res = ""
        if not set(t).isdisjoint(seniorityArr):
            for name, ls in seniority.items():
                if not set(t).isdisjoint(ls):
                    res = name
                    break
        else:
            res = "none"
        position.append(res)
    df['Seniority'] = position
    del df['Job Title']

In [10]:
def parse_description():
    desc = []
    for row in df['Description']:
        desc.append(literal_eval(row))
    df['Description'] = desc

In [11]:
def get_average_salary():
    df['Avg Salary'] = 1000 * ((df['Salary Low (K)'] + df['Salary High (K)']) / 2)
    del df['Salary Low (K)']
    del df['Salary High (K)']

In [12]:
##https://stackoverflow.com/questions/19913659/pandas-conditional-creation-of-a-series-dataframe-column
def make_rating_ranges(df):
    conditions = [
        4.5 <= df['Company Rating'],
        (4 <= df['Company Rating']) & (df['Company Rating'] < 4.5),
        (3.5 <= df['Company Rating']) & (df['Company Rating'] < 4),
        (3 <= df['Company Rating']) & (df['Company Rating'] <= 3.5),
        df['Company Rating'] < 3
    ]
    choices = [5,4,3,2,1]
    df['Rating'] = np.select(conditions, choices, default='0')
    df.drop(df[df['Rating'] == '0'].index, inplace=True)

In [13]:
initial_clean()
get_seniority()
parse_description()
get_average_salary()
make_rating_ranges(df)
df

,Company Rating,Listing City,Description,HQ City,Company Size,Industry,Seniority,Avg Salary,Rating
0,3.7,Warren,"[areapplied, teams, gmvehicle, these, vehicle,...",Detroit,10000+,Manufacturing,lead,85000.0,3
1,3.7,Santa Clara,"[action, a, physical, regulatory, in, issues, ...",SantaClara,10000+,Biotech&Pharmaceuticals,none,86500.0,3
2,3.2,New York,"[talentresourceteam, out, than, produces, line...",NewYork,< 10000,Media,junior,107500.0,2
3,4.0,Mill Valley,"[jobs, technical, proven, under, very, systems...",MillValley,< 1000,InformationTechnology,lead,139500.0,4
4,4.1,Farmington Hills,"[planning, presentation, optical, analyses, co...",Paris,< 10000,Manufacturing,two,81500.0,4
5,3.2,San Francisco,"[role, applications, custom, key, analysts, cr...",SanFrancisco,< 10000,Insurance,lead,125000.0,2
6,2.9,New York,"[than, united, order, helpduties, conducts, el...",Denver,< 1000,Government,none,94000.0,1
7,3.7,Los Angeles,"[diagramming, interested, direct, presentation...",ElSegundo,< 200,InformationTechnology,senior,79500.0,3
8,3.0,Weehawken,"[profile, warehousing, flow, role, apply, plus...",NewYork,< 200,BusinessServices,none,121000.0,2
9,3.7,New York,"[marital, be, project, equal, collaborative, d...",Norwood,< 1000,BusinessServices,none,60000.0,3
10,3.7,Chicago,"[role, planning, direct, marketplace, part, te...",Chicago,< 500,"Arts,Entertainment&Recreation",senior,101500.0,3
11,3.9,Oakland,"[firmwide, quality, job, us, apply, location, ...",SanFrancisco,< 10000,BusinessServices,none,62500.0,3
12,4.1,Seattle,"[around, application, project, beauty., until,...",Seattle,10000+,Education,one,40000.0,4
13,4.1,Seattle,"[an, submissions, development, hutchinson, con...",Seattle,< 5000,Non-Profit,none,67000.0,4
14,4.4,Bedford,"[best, making, but, also, applicant., directly...",Bedford,< 1000,Retail,intern,63500.0,4
15,3.8,Seattle,"[efficient, prove, join, to, both, cloud, one,...",Seattle,10000+,InformationTechnology,none,114500.0,3
16,3.5,San Francisco,"[go, planners, teams, custom, u.s., cutting, a...",NewYork,10000+,Finance,none,135500.0,3
17,4.3,Santa Monica,"[reports, specific, than, ca, personalized, va...",SantaMonica,< 200,Finance,senior,88500.0,4
18,3.6,Irwindale,"[go, scientific, disability., functions., guid...",Duarte,< 10000,HealthCare,none,88500.0,3
19,3.5,Chicago,"[interested, uniformity., pricing, key, applic...",Chicago,< 5000,Insurance,none,105500.0,3
20,2.9,Menlo Park,"[teams, gaps, cross, scorecards, action, partn...",Fremont,< 1000,InformationTechnology,two,79500.0,1
21,4.0,Los Angeles,"[implementation, out, closing, ..., on, pipeli...",Oakland,10000+,Education,senior,133000.0,4
22,3.3,Chicago,"[familiarity, modeling, computing, electrical,...",Irving,< 10000,BusinessServices,none,135500.0,2
23,2.9,New York,"[form, improvements, party, curious, dashboard...",BeverlyHills,< 5000,Media,director,114000.0,1
24,4.1,Seattle,"[inactive, field., uw, preparing, improve, int...",Seattle,10000+,Education,none,63500.0,4
25,3.9,New York,"[portable, interact, people., detection, equiv...",NewYork,10000+,HealthCare,associate,58500.0,3
26,3.0,New York,"[out, queries, learning, profile, regression, ...",NewYork,< 200,BusinessServices,none,121000.0,2
27,2.9,Bellevue,"[efficiently, orders, production, massively, i...",SanFrancisco,< 1000,InformationTechnology,senior,134000.0,1
28,3.1,Pittsburgh,"[security, projects., strategy, execute, ticke...",Pittsburgh,< 1000,Education,none,89500.0,2
29,4.5,San Francisco,"[places, comprehensive, data, provide, live, a...",Weston,< 5000,InformationTechnology,senior,199500.0,5
...,...,...,...,...,...,...,...,...,...
6542,3.1,Framingham,"[ambiguity, exposing, seeking, them, etl, sour...",Framingham,10000+,Retail,principal,127000.0,2
6543,4.4,Santa Clara,"[role, an, improve, cross, concerns, turning, ...",SantaClara,10000+,InformationTechnology,none,102500.0,4
6544,4.2,New York,"[passion, stores, similar, availability, drive...",Milford,< 200,InformationTechnology,none,63500.0,4
6545,4.0,Chicago,"[responsibilities, focal, labor, activities., ...",Chicago,< 500,Manufacturing,none,77000.0,4
6546,3.8,San Francisco,"[qualifications, teams, custom, these, key, pu...",SanFrancisco,< 200,Retail,none,156500.0,3
6547,3.6,Austin,"[implementation, responsibilities, align, orie...",Austin,< 1000,Finance,none,74000.0,3
6548,4.1,Detroit,"[position, posting, 3, college, institutes, me...",Detroit,< 10000,Education,none,52500.0,4
6549,2.5,Austin,"[applying, serve., tx, software, commercial, s...",FlorhamPark,10000+,BusinessServices,senior,108500.0,1
6550,4.2,San Francisco,"[role, part, goals, improve, teams, cutting, r...",SanFrancisco,10000+,InformationTechnology,none,126500.0,4
6551,3.1,Waltham,"[implementation, reports, responsibilities, do...",AlphenaandenRijn,10000+,InformationTechnology,senior,76500.0,2
6552,3.5,Austin,"[conversations, reports, than, religion, align...",Atlanta,10000+,Unknown,senior,106500.0,3
6553,3.1,San Francisco,"[citizenship, why, no, otherwise, director, pl...",Lehi,< 5000,InformationTechnology,senior,224000.0,2
6554,3.8,Hartford,"[influence, changing, statistical, to, solutio...",Hartford,10000+,Insurance,lead,111000.0,3
6555,4.1,Seattle,"[send, join, include, service, to, solutions.,...",Seattle,< 500,BusinessServices,none,98000.0,4
6556,3.7,New York,"[teams, confidence, threatconnects, ct, want, ...",Arlington,< 200,InformationTechnology,none,104500.0,3
6557,3.2,Foster City,"[jobs, et, faire, informatique, du, suppressio...",FosterCity,< 10000,Biotech&Pharmaceuticals,associate,92000.0,2
6558,4.1,Chicago,"[complete, ca, with., labor, software, restora...",SanFrancisco,< 500,InformationTechnology,none,121000.0,4
6559,4.1,Detroit,"[analyst, of, college, division, vacancies, ce...",Detroit,< 10000,Education,none,49000.0,4
6560,3.6,San Jose,"[use, a, proud, in, using, test, poster, resea...",SanJose,10000+,Unknown,none,127500.0,3
6561,3.3,Dearborn,"[teams, analysts, process, used, processes, re...",BloomfieldHills,10000+,Retail,none,68000.0,2
6562,3.6,Boston,"[track, presentation, qualifications, meetings...",Boston,< 5000,Biotech&Pharmaceuticals,none,104000.0,3
6563,3.9,Boston,"[reports, responsibilities, epic, tableau, var...",Boston,< 10000,HealthCare,senior,59500.0,3
6564,3.2,Oakland,"[programming, common, skills, create, organize...",Copenhagen,10000+,Retail,principal,124500.0,2
6565,3.2,Fremont,"[modeling, project, 3, in, products, purpose, ...",Houston,10000+,Retail,none,136500.0,2
6566,3.0,Chicago,"[planning, goals, u.s., reach, innovating, act...",Chicago,< 10000,Finance,none,92000.0,2
6567,3.8,Cambridge,"[history, project, addition, visualizations, 3...",Washington,10000+,Government,none,102000.0,3
6568,3.3,Seattle,"[resources, salary, apply, screen, life, also,...",Seattle,10000+,HealthCare,none,40500.0,2
6569,3.5,Austin,"[domain, software, evaluates, work, members, a...",Atlanta,10000+,Unknown,manager,165000.0,3
6570,3.8,Chicago,"[analytics, responsibilities, techniques, find...",NewYork,10000+,Accounting&Legal,associate,123000.0,3
6571,3.7,New York,"[role, sports, teams, buildings, progress, des...",NewYork,< 500,BusinessServices,none,75000.0,3

In [10]:
df.groupby('Rating').count()

,Company Rating,Listing City,Description,HQ City,Company Size,Industry,Seniority,Avg Salary
Rating,,,,,,,,
1,439,439,439,439,438,439,439,439
2,1618,1618,1618,1618,1604,1618,1618,1618
3,2534,2527,2534,2534,2527,2534,2534,2534
4,1508,1507,1508,1508,1496,1508,1508,1508
5,452,452,452,452,452,452,452,452

In [ ]:
def word_cloudify():
#make a word cloud to get a feel for what we're working with
#https://www.geeksforgeeks.org/generating-word-cloud-python/
#https://python.gotrained.com/text-classification-with-pandas-scikit/
    total_str = ""
    for listing in df['Description']:
        total_str += ' '.join(listing)
        wordcloud = WordCloud(width = 800, height = 800, 
                        background_color ='white',  
                        min_font_size = 12).generate(total_str)

    plt.figure(figsize = (8, 8), facecolor = None) 
    plt.imshow(wordcloud) 
    plt.axis("off") 
    plt.tight_layout(pad = 0) 

    plt.show()
    
word_cloudify()

In [14]:
def bag_words(data):
    bag = {}
    word_count = 0
    for row in data['Description']:
        for word in row:
            if word not in bag:
                bag[word] = word_count
                word_count += 1
    
    return bag
 
bag = bag_words(df)

In [15]:
def get_features(description, bag):
    features = [0 for x in range(len(bag))]
    for word in description:
        ind = bag[word]
        features[ind] += 1
    return features

In [16]:
def get_all_features(data, bag):
    all_features = []
    for description in data['Description']:
        all_features.append(get_features(description, bag))
    return all_features

all_features = get_all_features(df, bag)

In [17]:
def export_feature_csv(df):
    export = df.filter(['Rating'], axis = 1)
    export['Features'] = all_features
    export.to_csv('withfeatures.csv', encoding='utf-8', index=False)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(all_features, df['Rating'], test_size=0.33, random_state=0)

In [19]:
#saved for comparison
print('zeroR accuracy: .387')
print('Perceptron(max_iter=50) accuracy: 0.653')
print('MultinomialNB(alpha=.01) accuracy: 0.695')
print('MultinomialNB(alpha=.001) accuracy: 0.702')
print('BernoulliNB(alpha=.01) accuracy: 0.685')
print('BernoulliNB(alpha=.001) accuracy: 0.698')
print('RandomForestClassifier() accuracy: 0.586')
print('LogisticRegression() accuracy: 0.672')

zeroR accuracy: .387
Perceptron(max_iter=50) accuracy: 0.653
MultinomialNB(alpha=.01) accuracy: 0.695
MultinomialNB(alpha=.001) accuracy: 0.702
BernoulliNB(alpha=.01) accuracy: 0.685
RandomForestClassifier() accuracy: 0.586
LogisticRegression() accuracy: 0.672

In [22]:
#clf = Perceptron(max_iter=50)
#clf = MultinomialNB(alpha=0.001)
clf = BernoulliNB(alpha=.0001)
#clf = RandomForestClassifier()
#clf = LogisticRegression()

clf.fit(X_train, y_train)
pred = clf.predict(X_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)

accuracy:   0.697

In [21]:
print('Training size: {} Test Size: {}'.format(len(X_train), len(X_test)))

Training size: 4389 Test Size: 2162